body { 
    font-family: Arial, Verdana, Helvetica; 
    background-color: rgb(233, 228, 205);
}

nav {
    width: fit-content;
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    background-color: white;
}

#padre {
    width: 100%;
}

#hijo01{
    display: inline-block;
}

#hijo02{
    display: inline-block;
    align-content: center;

}

#footercenter {
    text-align: center;
}

#formacontacto {
    text-align: center;
}